*{
    box-sizing: border-box;
  }

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    
    display: flex;
    height: 70px;
    padding: 0 20px;
    background-color: #333;
    
}

header h1 {
    margin: 0;
    flex: 1;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin: 0 10px;
}

nav a {
    color: #fff;
    text-decoration: none;
    align-items: center;
   
    }
    
.curso{
    color: #fff;
}
.hero {
    color: #fff;
    background-image: url("hero-background.jpg");
    background-size: cover;
    background-position: center;
    height: 500px;
    display: flex;
    

}


.hero-text {
    width: 725px;
    margin: 0 auto;
    padding: 49px;
    text-align: center;
    justify-content: center;
    align-items: center;
   
        
}

.hero-text h2 {
    font-size: 48px;
    margin-bottom: 20px;
    text-decoration: none;
}

.hero-text p {
    font-size: 24px;
    margin-bottom: 40px;
}

.btn-hero {
    background-color: #46c0a1;
    color: #fff;
    font-size: 24px;
    padding: 10px 20px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    text-decoration: none;
}


.btn-hero:hover {
    background-color: #fff;
    color: #000000;
}

.about {
    padding: 50px 20px;
    background-color: #46c0a1;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
    align-items: center;
    text-decoration: none;

   
}

.about h2 {
    margin-top: auto;
    color: #000000;
    font-size: 36px;
    margin-bottom: 20px;
    text-decoration: none;
}

.about p {
    font-size: 18px;
    margin-bottom: 20px;
    
}

.about ul {
    margin: 0;
    padding: 0;
    
}

.about li {
    font-size: 18px;
    margin-bottom: 10px;
    display: inline;
}

.pricing {
    padding: 50px 20px;
    background-color: #e6e6e6;
}

.pricing h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.pricing ul {
    margin: 0;
    padding: 0;
    
}

.pricing li {
    font-size: 24px;
    margin-bottom: 20px;
    display: inline;
}

.pricing p {
    font-size: 18px;
    margin-bottom: 40px;
    text-align: right;
}

.btn-pricing {
    background-color: #46c0a1;
    color: #fff;
    font-size: 24px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.btn-pricing:hover {
    background-color: #fff;
    color: #000000;
}


.primeiro{
    margin: 22px;
    background-color: #46c0a1;
    color: #fff;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    transition: 0.3s ease;
    text-decoration: none;  
    padding: 5px; 
    text-align: center;
}
.primeiro:hover {
    transform: scale(1.2);
    text-decoration: none;
  }
.segundo{
    margin: 22px;
    background-color: #46c0a1;
    color: #fff;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    transition: 0.3s ease;
    text-decoration: none;
    padding: 5px;

}
.segundo:hover {
    transform: scale(1.2);
    text-decoration: none;
}
.terceiro{
    margin: 22px;
    background-color: #46c0a1;
    color: #fff;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    transition: 0.3s ease;
    padding: 5px;
}
.terceiro:hover {
    transform: scale(1.2);
    text-decoration: none;
}
.quarteto{
    margin: 22px;
    background-color: #46c0a1;
    color: #fff;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    transition: 0.3s ease;
    text-decoration: none;
    padding: 5px;

}
.quarteto:hover {
    transform: scale(1.2);
    text-decoration: none;
}
.hero{
    background-image: url(img/img.tec.jpg);
    background-repeat: no-repeat;
    background-position: 50% 0;
    padding: 20px;
}
.pricing{
    background-image: url(img/img.infor.jpg);
    background-repeat: no-repeat;
    color: #fff;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    
}
.btn {
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    border-radius: 10px;
    background:  #46c0a1;
    color: #FFFF;
    border: none;
    padding: 13px;
    width: 300px;
    text-align: center;
    text-decoration: none;
    }

.btn:active {
    background:  #FFFF;
    top: 2px;
  }


footer {
    background-color: #46c0a1;
    color: #000000;
    text-align: center;
    padding: 20px;
}

